<?xml version="1.0" encoding="UTF-8"?>
<entity-mappings xmlns="https://jakarta.ee/xml/ns/persistence/orm"
                 version="3.0">

    <entity class="de.jgsoftware.landingpage.model.jpa.shopdb.SpringSessionEntity">
        <table name="SPRING_SESSION" schema="PUBLIC" catalog="SHOPDB"/>
        <attributes>
            <id name="primaryId">
                <column name="PRIMARY_ID"/>
            </id>
            <basic name="sessionId">
                <column name="SESSION_ID"/>
            </basic>
            <basic name="creationTime">
                <column name="CREATION_TIME"/>
            </basic>
            <basic name="lastAccessTime">
                <column name="LAST_ACCESS_TIME"/>
            </basic>
            <basic name="maxInactiveInterval">
                <column name="MAX_INACTIVE_INTERVAL"/>
            </basic>
            <basic name="expiryTime">
                <column name="EXPIRY_TIME"/>
            </basic>
            <basic name="principalName">
                <column name="PRINCIPAL_NAME"/>
            </basic>
        </attributes>
    </entity>
</entity-mappings>
