<!-- Page Content -->
<meta charset="UTF-8">
<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
        <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="/img/Screenshot.jpeg" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-5">
            <h1 class="font-weight-light" th:text="${webtextcomp[6].de}"></h1>
            <p th:text="${webtextcomp[7].de}"></p>
            <hr/>
            <h2 th:text="${webtextcomp[15].de}"></h2><!-- In development !!! -->
            <hr/>
            <a class="btn btn-primary" th:href="@{/wiki}">More Info</a>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <p class="text-white m-0" th:text="${webtextcomp[8].de}"></p>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title" th:text="${webtextcomp[9].de}"></h2> <!-- landingpage -->
                    <p class="card-text" th:text="${webtextcomp[10].de}"></p>
                    <p>start h2 jar in Container with:</p>
                    <pre>java -jar /root/h2/bin/h2-1.4.199.jar -webAllowOthers -tcpAllowOthers</pre>

                    <hr/>
                    <p>Username and password</p>
                    <hr/>
                    <pre>admin</pre>
                    <pre>jj78mvpr52k1</pre>
                    <p></p>
                </div>
                <div class="card-footer">
                    <a th:href="@{/wiki}" class="btn btn-primary btn-sm">More Info</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title" th:text="${webtextcomp[11].de}"></h2><!-- webshop -->
                    <p class="card-text" th:text="${webtextcomp[12].de}"></p>
                </div>
                <div class="card-footer">
                    <a th:href="@{/wiki}" class="btn btn-primary btn-sm">More Info</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title" th:text="${webtextcomp[13].de}"></h2> <!-- LanServer -->
                    <p class="card-text" th:text="${webtextcomp[14].de}"></p>
                    <p class="card-text" th:text="${webtextcomp[16].de}"></p> <!-- jar ausführen -->

                    <hr/>
                    <p>Username and password</p>
                    <hr/>
                    <pre>admin</pre>
                    <pre>jj78mvpr52k1</pre>

                    <pre th:text="${webtextcomp[17].de}">
                    </pre>


                </div>
                <div class="card-footer">
                    <a href="jarclients/JDesktopClient.jar" class="btn btn-primary btn-sm">download Desktop Client as jar</a>
                </div>
                <div class="card-footer">
                    <a th:href="@{/wiki}" class="btn btn-primary btn-sm">More Info</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container

<div th:insert="footer.html"></div>
-->
