<!-- Page Content -->

<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">



    <div class="dropdown show">
        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sprachen
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a href="/" class="dropdown-item">Deutsch</a>
            <a href="/en" class="dropdown-item">Englisch</a>
            <a href="/es" class="dropdown-item">Spanisch</a>
            <a href="/fr" class="dropdown-item">Franz&oumlsisch</a>
            <a href="/it" class="dropdown-item">Italienisch </a>
            <a href="/tr" class="dropdown-item">T&uumlrkisch</a>


        </div>
    </div>

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
        <div class="col-lg-7">


            <img class="img-fluid rounded xl-4" th:src="@{/img/JDesktop_Java.png}" alt="" style="max-width: 600px; max-height: 400px;" >

           <!-- <img class="img-fluid rounded mb-4 mb-lg-0" th:src="@{/img/1_Screenshot.jpeg}" alt=""> -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-5">

            <!-- row 4-4-4 -->
            <div class="row">
                <div class="col-sm-4">

                </div>
                <div class="col-sm-4">

                    <!--

                       phone icon
                    -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-phone" viewBox="0 0 16 16">
                        <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
                        <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>

                    </svg>
                    <a href="/m_de" th:text="${webtextcomp[31].de}">

                    </a>
                </div>
                <div class="col-sm-4">

                </div>
            </div>


            <h1 class="font-weight-light" th:text="${webtextcomp[6].de}"></h1>
            <p th:text="${webtextcomp[7].de}"></p>
            <hr/>
            <h2 th:text="${webtextcomp[15].de}"></h2><!-- In development !!! -->
            <hr/>

            <a class="btn btn-primary" th:href="@{/wiki}" th:text="${webtextcomp[32].de}"></a>

        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <p class="text-white m-0" th:text="${webtextcomp[8].de}"></p>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-12 mb-12">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title" th:text="${webtextcomp[26].de}"></h2> <!-- GUI Server Panel Docker -->
                    <p class="card-text" th:text="${webtextcomp[27].de}"></p>
                    <p class="card-text" th:text="${webtextcomp[28].de}"></p>
                    <p class="card-text" th:text="${webtextcomp[29].de}"></p>
                </div>
                <div class="card-footer">
                    <a href="http://demogitjava.ddns.net:8000/webhtml/Guiserverpanel-0.0.1-SNAPSHOT.jar" class="btn btn-primary" th:text="${webtextcomp[30].de}"></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title" th:text="${webtextcomp[9].de}"></h2> <!-- landingpage -->
                    <p class="card-text" th:text="${webtextcomp[10].de}"></p>

                    <pre>
                        <p th:text="${webtextcomp[33].de}"></p>
                    </pre>

                    <p th:text="${webtextcomp[34].de}"></p>
                    <hr/>
                    <pre th:text="${webtextcomp[35].de}"></pre>
                    <hr/>
                    <p th:text="${webtextcomp[36].de}"></p>

                    <hr/>

                        <p th:text="${webtextcomp[37].de}"></p>
                        <p th:text="${webtextcomp[38].de}"></p>

                    <hr/>
                    <p th:text="${webtextcomp[39].de}"></p>
                    <hr/>

                    <p th:text="${webtextcomp[40].de}"></p>
                    <hr/>
                    <pre th:text="${webtextcomp[41].de}"></pre>
                    <pre th:text="${webtextcomp[42].de}"></pre>
                    <p></p>
                </div>
                <div class="card-footer">
                    <a th:href="@{/wiki}" class="btn btn-primary" th:text="${webtextcomp[43].de}"></a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title" th:text="${webtextcomp[11].de}"></h2><!-- webshop -->
                    <p class="card-text" th:text="${webtextcomp[12].de}"></p>


                    <pre>
                       <p th:text="${webtextcomp[44].de}"></p>
                    </pre>

                    <p th:text="${webtextcomp[46].de}"></p>
                    <p th:text="${webtextcomp[47].de}"></p>

                    <p th:text="${webtextcomp[48].de}"></p>
                    <p th:text="${webtextcomp[50].de}"></p>
                    <p th:text="${webtextcomp[51].de}"></p>
                    <hr/>

                    <pre th:text="${webtextcomp[52].de}"></pre>
                    <pre th:text="${webtextcomp[53].de}"></pre>
                    <p></p>

                    <div class="card-footer">
                        <a th:href="@{http://217.160.255.254:443}" class="btn btn-primary" th:text="${webtextcomp[54].de}"></a>
                    </div>

                </div>

                <div class="card-footer">
                    <a th:href="@{/wiki}" class="btn btn-primary" th:text="${webtextcomp[55].de}"></a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title" th:text="${webtextcomp[13].de}"></h2> <!-- LanServer -->

                    <p>Es wird > Java 11 benötigt</p>
                    <p>Linux // Centos 7</p>
                    <pre>yum install java-11-openjdk</pre>
                    <pre>sudo alternatives --config java</pre>
                    <p class="card-text" th:text="${webtextcomp[14].de}"></p>
                    <p class="card-text" th:text="${webtextcomp[16].de}"></p> <!-- jar ausführen -->

                    <hr/>
                    <p>Username and password</p>
                    <hr/>
                    <pre>admin</pre>
                    <pre>jj78mvpr52k1</pre>

                    <pre th:text="${webtextcomp[17].de}">
                    </pre>


                </div>
                <div class="card-footer">
                    <a href="http://demogitjava.ddns.net:8000/webhtml/JDesktopClient.jar" class="btn btn-primary">download Desktop Client as jar</a>
                </div>
                <div class="card-footer">
                    <a th:href="@{/wiki}" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container

<div th:insert="footer.html"></div>
-->
