<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${lang}">

<header>

    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="description" content="demogitjava">
    <meta name="description" content="demogit java">

    <meta name="google-site-verification" content="google3bcc7fb369b1dc91.html">
    <meta name="description" content="Spring Boot, Docker, Thymeleaf, Bootstrap, Bootflat, Java, GraalVM, MaWi Software, Fibu Software">


    <meta name="keywords" content="Spring Boot, spring boot, Thymeleaf, Bootstrap, Bootflat, Java, GraalVM" />
    <meta name="keywords" content="landingpage, docker, webshop,financial accounting" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="alternate" href="http://f4416cf.online-server.cloud/" hreflang="de-de" />
    <link rel="alternate" href="http://f4416cf.online-server.cloud/" hreflang="fr-fr" />
    <link rel="alternate" href="http://f4416cf.online-server.cloud/" hreflang="es-es" />

    <link rel="alternate" hreflang="de-de"
          href="https://f4416cf.online-server.cloud/" />



    <link rel="alternate" hreflang="en-gb"
          href="https://f4416cf.online-server.cloud/en/" />



    <link rel="alternate" hreflang="en-us"
          href="https://f4416cf.online-server.cloud/en/" />

    <!--

            french

    -->
    <link rel="alternate" hreflang="fr"
          href="https://f4416cf.online-server.cloud/fr/" />
    <!--
         Äquatorialguinea
    -->
    <link rel="alternate" hreflang="gq"
          href="https://f4416cf.online-server.cloud/fr/" />
    <!--
         Benin
     -->
    <link rel="alternate" hreflang="bj"
          href="https://f4416cf.online-server.cloud/fr/" />

    <!--
       Burkina Faso
   -->
    <link rel="alternate" hreflang="bf"
          href="https://f4416cf.online-server.cloud/fr/" />

    <!--
       Burundi
    -->
    <link rel="alternate" hreflang="bi"
          href="https://f4416cf.online-server.cloud/fr/" />


    <!--
       Haiti
    -->
    <link rel="alternate" hreflang="ht"
          href="https://f4416cf.online-server.cloud/fr/" />

    <!--
        Cammeroon
     -->
    <link rel="alternate" hreflang="cm"
          href="https://f4416cf.online-server.cloud/fr/" />

    <!--
          Canada
       -->
    <link rel="alternate" hreflang="ca"
          href="https://f4416cf.online-server.cloud/fr/" />

    <!--
         Kongo
    -->
    <link rel="alternate" hreflang="kg"
          href="https://f4416cf.online-server.cloud/fr/" />

    <!--
        Luxenburg
    -->
    <link rel="alternate" hreflang="lu"
          href="https://f4416cf.online-server.cloud/fr/" />

    <!--
          Madagascar
       -->
    <link rel="alternate" hreflang="mg"
          href="https://f4416cf.online-server.cloud/fr/" />

    <!--
          Mali
       -->
    <link rel="alternate" hreflang="ml"
          href="https://f4416cf.online-server.cloud/fr/" />

    <!--
        Monaco
    -->
    <link rel="alternate" hreflang="mc"
          href="https://f4416cf.online-server.cloud/fr/" />
    <!--
         Niger
      -->
    <link rel="alternate" hreflang="ne"
          href="https://f4416cf.online-server.cloud/fr/" />


    <!--
        Seychelles
    -->
    <link rel="alternate" hreflang="sc"
          href="https://f4416cf.online-server.cloud/fr/" />

    <!--
        Togo
    -->
    <link rel="alternate" hreflang="tg"
          href="https://f4416cf.online-server.cloud/fr/" />

    <!--
        Tschad
    -->
    <link rel="alternate" hreflang="td"
          href="https://f4416cf.online-server.cloud/fr/" />



    <!--
        Spanisch
    -->
    <link rel="alternate" hreflang="es"
          href="https://f4416cf.online-server.cloud/es/" />

    <!--
        Äquatorialguinea
    -->
    <link rel="alternate" hreflang="gq"
          href="https://f4416cf.online-server.cloud/es/" />

    <!--
        Cuba
    -->
    <link rel="alternate" hreflang="cu"
          href="https://f4416cf.online-server.cloud/es/" />

    <!--
        Dominikanische Republik,
    -->
    <link rel="alternate" hreflang="do"
          href="https://f4416cf.online-server.cloud/es/" />

    <!--
           Puerto Rico
       -->
    <link rel="alternate" hreflang="pr"
          href="https://f4416cf.online-server.cloud/es/" />


    <!--
          Mexico
       -->
    <link rel="alternate" hreflang="mx"
          href="https://f4416cf.online-server.cloud/es/" />

    <!--
         Guatemala,
       -->
    <link rel="alternate" hreflang="gt"
          href="https://f4416cf.online-server.cloud/es/" />

    <!--
       El Salvador
      -->
    <link rel="alternate" hreflang="sv"
          href="https://f4416cf.online-server.cloud/es/" />

    <!--
        Honduras
      -->
    <link rel="alternate" hreflang="hn"
          href="https://f4416cf.online-server.cloud/es/" />

    <!--
        Nicaragua
      -->
    <link rel="alternate" hreflang="ni"
          href="https://f4416cf.online-server.cloud/es/" />

    <!--
       Costa Rica
    -->
    <link rel="alternate" hreflang="cr"
          href="https://f4416cf.online-server.cloud/es/" />

    <!--
       Panama
    -->
    <link rel="alternate" hreflang="pa"
          href="https://f4416cf.online-server.cloud/es/" />


    <!--
        Venezuela
    -->
    <link rel="alternate" hreflang="ve"
          href="https://f4416cf.online-server.cloud/es/" />

    <!--
        Kolumbien
    -->
    <link rel="alternate" hreflang="co"
          href="https://f4416cf.online-server.cloud/es/" />


    <!--
       Ecuador
    -->
    <link rel="alternate" hreflang="ec"
          href="https://f4416cf.online-server.cloud/es/" />


        <!--
             Peru
        -->
    <link rel="alternate" hreflang="pe"
          href="https://f4416cf.online-server.cloud/es/" />

    <!--
      Bolivien
    -->
    <link rel="alternate" hreflang="bo"
          href="https://f4416cf.online-server.cloud/es/" />

    <!--
        Chile
      -->
    <link rel="alternate" hreflang="cl"
          href="https://f4416cf.online-server.cloud/es/" />

    <!--
        Argentinien
    -->
    <link rel="alternate" hreflang="ar"
          href="https://f4416cf.online-server.cloud/es/" />

    <!--
         Paraguay

    -->
    <link rel="alternate" hreflang="py"
          href="https://f4416cf.online-server.cloud/es/" />


    <!--
        Uruguay

    -->
    <link rel="alternate" hreflang="uy"
          href="https://f4416cf.online-server.cloud/es/" />




    <link rel="alternate" hreflang="be"
          href="https://f4416cf.online-server.cloud/" />


    <link rel="alternate" hreflang="it"
          href="https://f4416cf.online-server.cloud/it/" />


    <link rel="alternate" hreflang="tk"
          href="https://f4416cf.online-server.cloud/tk/" />


    <link rel="alternate" hreflang="x-default"
          href="https://f4416cf.online-server.cloud/en/" />


    <title>Small Business - Start Bootstrap Template</title>



</header>

<body>
<link rel="canonical" href="http://f4416cf.online-server.cloud/"/>

<div th:insert="de/de_header.html"></div>

<div th:insert="de/de_body.html"></div>

<div th:insert="de/de_footer.html"></div>

</body>


<!-- Bootstrap core CSS -->
<link th:href="@{/bootflat/css/bootstrap.min.css}" rel="stylesheet" />

<script th:src="@{/jquery/jquery-3.5.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.bundle.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.esm.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.js}"></script>
<!-- Bootstrap core JavaScript
<script th:src="@{/jquery/jquery-3.5.1.min.js}"></script>

<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.js}"></script>


<script th:src="@{/bootflat/js/jcheck.min.js}"></script>
<script th:src="@{/bootflat/js/jquery.fs.selecter.min.js}"></script>
<script th:src="@{/bootflat/js/jquery.fs.stepper.min.js}"></script>
<script th:src="@{bootstrap.min.js}"></script>-->



<!-- Clarity tracking code for http://f4416cf.online-server.cloud/ -->
<script>
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i+"?ref=bwt";
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "dju9gjsf86");
</script>
</html>
