<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:include="en/en_header.html">

    <link rel="alternate" hreflang="de-de"
          href="https://f4416cf.online-server.cloud/" />



    <link rel="alternate" hreflang="en-gb"
          href="https://f4416cf.online-server.cloud/en/" />



    <link rel="alternate" hreflang="en-us"
          href="https://f4416cf.online-server.cloud/en/" />

    <!--

            french

    -->
    <link rel="alternate" hreflang="fr"
          href="https://f4416cf.online-server.cloud/fr/" />
    <!--
         Äquatorialguinea
    -->
    <link rel="alternate" hreflang="gq"
          href="https://f4416cf.online-server.cloud/fr/" />
    <!--
         Benin
     -->
    <link rel="alternate" hreflang="bj"
          href="https://f4416cf.online-server.cloud/fr/" />

    <!--
       Burkina Faso
   -->
    <link rel="alternate" hreflang="bf"
          href="https://f4416cf.online-server.cloud/fr/" />

    <!--
       Burundi
    -->
    <link rel="alternate" hreflang="bi"
          href="https://f4416cf.online-server.cloud/fr/" />


    <!--
       Haiti
    -->
    <link rel="alternate" hreflang="ht"
          href="https://f4416cf.online-server.cloud/fr/" />

    <!--
        Cammeroon
     -->
    <link rel="alternate" hreflang="cm"
          href="https://f4416cf.online-server.cloud/fr/" />

    <!--
          Canada
       -->
    <link rel="alternate" hreflang="ca"
          href="https://f4416cf.online-server.cloud/fr/" />

    <!--
         Kongo
    -->
    <link rel="alternate" hreflang="kg"
          href="https://f4416cf.online-server.cloud/fr/" />

    <!--
        Luxenburg
    -->
    <link rel="alternate" hreflang="lu"
          href="https://f4416cf.online-server.cloud/fr/" />

    <!--
          Madagascar
       -->
    <link rel="alternate" hreflang="mg"
          href="https://f4416cf.online-server.cloud/fr/" />

    <!--
          Mali
       -->
    <link rel="alternate" hreflang="ml"
          href="https://f4416cf.online-server.cloud/fr/" />

    <!--
        Monaco
    -->
    <link rel="alternate" hreflang="mc"
          href="https://f4416cf.online-server.cloud/fr/" />
    <!--
         Niger
      -->
    <link rel="alternate" hreflang="ne"
          href="https://f4416cf.online-server.cloud/fr/" />


    <!--
        Seychelles
    -->
    <link rel="alternate" hreflang="sc"
          href="https://f4416cf.online-server.cloud/fr/" />

    <!--
        Togo
    -->
    <link rel="alternate" hreflang="tg"
          href="https://f4416cf.online-server.cloud/fr/" />

    <!--
        Tschad
    -->
    <link rel="alternate" hreflang="td"
          href="https://f4416cf.online-server.cloud/fr/" />



    <!--
        Spanisch
    -->
    <link rel="alternate" hreflang="es"
          href="https://f4416cf.online-server.cloud/es/" />

    <!--
        Äquatorialguinea
    -->
    <link rel="alternate" hreflang="gq"
          href="https://f4416cf.online-server.cloud/es/" />

    <!--
        Cuba
    -->
    <link rel="alternate" hreflang="cu"
          href="https://f4416cf.online-server.cloud/es/" />

    <!--
        Dominikanische Republik,
    -->
    <link rel="alternate" hreflang="do"
          href="https://f4416cf.online-server.cloud/es/" />

    <!--
           Puerto Rico
       -->
    <link rel="alternate" hreflang="pr"
          href="https://f4416cf.online-server.cloud/es/" />


    <!--
          Mexico
       -->
    <link rel="alternate" hreflang="mx"
          href="https://f4416cf.online-server.cloud/es/" />

    <!--
         Guatemala,
       -->
    <link rel="alternate" hreflang="gt"
          href="https://f4416cf.online-server.cloud/es/" />

    <!--
       El Salvador
      -->
    <link rel="alternate" hreflang="sv"
          href="https://f4416cf.online-server.cloud/es/" />

    <!--
        Honduras
      -->
    <link rel="alternate" hreflang="hn"
          href="https://f4416cf.online-server.cloud/es/" />

    <!--
        Nicaragua
      -->
    <link rel="alternate" hreflang="ni"
          href="https://f4416cf.online-server.cloud/es/" />

    <!--
       Costa Rica
    -->
    <link rel="alternate" hreflang="cr"
          href="https://f4416cf.online-server.cloud/es/" />

    <!--
       Panama
    -->
    <link rel="alternate" hreflang="pa"
          href="https://f4416cf.online-server.cloud/es/" />


    <!--
        Venezuela
    -->
    <link rel="alternate" hreflang="ve"
          href="https://f4416cf.online-server.cloud/es/" />

    <!--
        Kolumbien
    -->
    <link rel="alternate" hreflang="co"
          href="https://f4416cf.online-server.cloud/es/" />


    <!--
       Ecuador
    -->
    <link rel="alternate" hreflang="ec"
          href="https://f4416cf.online-server.cloud/es/" />


    <!--
         Peru
    -->
    <link rel="alternate" hreflang="pe"
          href="https://f4416cf.online-server.cloud/es/" />

    <!--
      Bolivien
    -->
    <link rel="alternate" hreflang="bo"
          href="https://f4416cf.online-server.cloud/es/" />

    <!--
        Chile
      -->
    <link rel="alternate" hreflang="cl"
          href="https://f4416cf.online-server.cloud/es/" />

    <!--
        Argentinien
    -->
    <link rel="alternate" hreflang="ar"
          href="https://f4416cf.online-server.cloud/es/" />

    <!--
         Paraguay

    -->
    <link rel="alternate" hreflang="py"
          href="https://f4416cf.online-server.cloud/es/" />


    <!--
        Uruguay

    -->
    <link rel="alternate" hreflang="uy"
          href="https://f4416cf.online-server.cloud/es/" />




    <link rel="alternate" hreflang="be"
          href="https://f4416cf.online-server.cloud/" />


    <link rel="alternate" hreflang="it"
          href="https://f4416cf.online-server.cloud/it/" />


    <link rel="alternate" hreflang="tk"
          href="https://f4416cf.online-server.cloud/tk/" />


    <link rel="alternate" hreflang="x-default"
          href="https://f4416cf.online-server.cloud/en/" />

</header>

<body>
<div th:include="en/en_body.html"></div>
<div class="container" th:include="en/en_footer.html"></div>
</body>



</html>