
<th:div>
<!-- Navigation -->
<th:nav id="navigationbootstrap" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <th:div class="container">
        <a class="navbar-brand" href="#" th:text="${webtextcomp[0].de}"></a> <!-- Company Name -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <th:span class="navbar-toggler-icon"></th:span>
        </button>
        <th:div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" th:text="${webtextcomp[1].de}">  <!-- Home -->
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about" th:text="${webtextcomp[2].de}"></a>  <!-- about -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/service" th:text="${webtextcomp[3].de}"></a>  <!-- Service -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact" th:text="${webtextcomp[4].de}"></a>  <!-- Contact -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login" th:text="${webtextcomp[5].de}"></a>  <!-- Login -->
                </li>
            </ul>
        </th:div>
    </th:div>
</th:nav>

</th:div>
