<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      th:lang="${lang}">

<header>
    <meta charset="ISO-8859-1">
    <!--
    <title th:text="@{page-title}"></title> -->
    <title>Demo WebSiteBuilder</title>


    <link th:href="@{/jquery/ui/jquery-ui.css}" rel="stylesheet" />

    <link th:href="@{/grapesjs/css/grapes.min.css}" rel="stylesheet" />
    <link th:href="@{/bootflat/css/bootstrap.min.css}" rel="stylesheet" />


    <!--
    https://fontawesome.com
    -->
    <link th:href="@{/fontawesome/css/fontawesome.css}" rel="stylesheet" />
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <!-- Custom styles for this template -->

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/jquery/jquery-3.5.1.min.js}"></script>



    <script th:src="@{/bootflat/js/jcheck.min.js}"></script>
    <script th:src="@{/jquery.fs.selecter.min.js}"></script>
    <script th:src="@{/jquery.fs.stepper.min.js}"></script>

    <!--
          implement start-bootstrap
          startbootstrap.small-business lib starter template
    -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/vendor/bootstrap/css/bootstrap-grid.css}" rel="stylesheet" />
    <link th:href="@{/vendor/bootstrap/css/bootstrap-reboot.css}" rel="stylesheet" />

    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/grapesjs/bootstrap.bundle.min.js}"></script>


    <script th:src="@{/jquery/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/jquery/ui/jquery-ui.min.js}"></script>
    <script th:src="@{/grapesjs/grapes.min.js}"></script>
    <script th:src="@{/grapesjs/ajaxable.min.js}"></script>
    <script th:src="@{/grapesjs/grapesjs-html-block.js}"></script>
    <script th:src="@{/popper.min.js}"></script>

    <div sec:authorize="isAuthenticated()">

        <nav id="navigationbootstraplogin" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#" th:text="${webtextcomp[0].de}"></a> <!-- Company Name -->

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarResponsivelogin">

                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item">
                            <a class="nav-link" href="/admin">admin</a>  <!-- admin -->
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/lpagewebbuilder/">Webpage Builder</a>  <!-- Webpagebuilder -->
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>  <!-- Logout -->
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:text="${lgusername}" href="/profile"></a>
                        </li>

                    </ul>
                </div>


            </div>
        </nav>

    </div>


</header>

<body sec:authorize="isAuthenticated()">

<div class="row">row</div>
<div class="row">row</div>
<div class="row"></div>

<div class="container">


    <div class="panel toolbar-panel" id="toolbox-tools">
    <ul id="sortable" class="ui-sortable">


        <div class="row">row</div>
        <div class="row">row</div>
        <div class="row"></div>
            <li class="btn-group draggable-group" id="group-file">
                <button class="btn btn-primary" id="btn_empty" data-toggle="tooltip" data-placement="bottom" title="Clear Screen" onclick="clearcanvas()"><i class="fa fa-trash" ></i></button>

            </li>


            <div class="row">
                   <form method="post" th:action="@{/lpagewebbuilder/loadhtmlpage/}">

                       <div class="input-group mb-3">

                           <select name="language" class="custom-select" id="valueone" aria-label="Example select with button addon">
                               <option selected>Choose...</option>
                               <option type="text" name="de">de</option>
                               <option type="text" name="en">en</option>
                               <option type="text" name="fr">fr</option>
                               <option type="text" name="es">es</option>
                               <option type="text" name="it">it</option>
                               <option type="text" name="tr">tr</option>
                           </select>

                           <select class="custom-select" id="valuetwo" name="component" aria-label="Example select with button addon">
                               <option selected>Choose...</option>
                               <option type="text" name="header">header</option>
                               <option type="text" name="body">body</option>
                               <option type="text" name="footer">footer</option>
                           </select>

                           <div class="input-group-prepend">
                               <input name="submit" class="form-control" type="submit" value="load html component to editor" />
                           </div>

                       </div>

                   </form>

                </div>
            <div class="row">
                <form method="post" th:action="@{/lpagewebbuilder/loadhtmlpage/}">



                    <!-- row 4-4-4 -->
                    <div class="row">
                        <div class="col-sm-4">
                            <p>default folder is /templates</p>
                            <p>about.html</p>
                            <p>service.html</p>
                            <p>contact.html</p>
                            <br><!-- comment -->
                            <p>load page with</p>
                            <p>-- about</p>
                            <p>-- service</p>
                            <p>-- contact</p>
                        </div>
                        <div class="col-sm-4">
                            
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                    <!-- row 4-4-4 -->
                    <div class="row">
                        <div class="col-sm-4">
                            <input name="language">
                        </div>

                        <div class="col-sm-4">
                            <input name="component">
                        </div>

                        <div class="col-sm-4">

                            <input name="submit" class="form-control" type="submit" value="load component from path"/>

                        </div>


                    </div>




                </form>

            </div>


        </ul>


    </div>
    <div class="row">

        <div class="col-sm-8">
            <button class="col-sm-4 btn btn-primary" type="button" onclick="postwebsitebuilderdata()">
                save Template Data to file
            </button>
        </div>
        <div class="col-sm-2">
            <h1 th:text="${loadedcountry}"></h1>
        </div>
        <div class="col-sm-2">
            <h1 th:text="${loadedcomp}"></h1>
        </div>

    </div>

    
     <div class="col-sm-12" id="gjs">


            <!--
            /*@thymesVar id="defaultsite" type="string"*/ 
            
                load the html page to 
                websitebuilder
            -->
            <div th:include="${defaultsite}">

            </div>  
               
        </div>

</div>


<div class="row">



    <div class="col-md-12">
        <script th:inline="javascript">
            /**
             *
             *  refresh the editor canvas by
             *  button click
             */
            function clearcanvas()
            {
                editor.DomComponents.clear(); // Clear components
                editor.CssComposer.clear();  // Clear styles
                editor.UndoManager.clear(); // Clear undo history



                localStorage.setItem("gjs-html")
                localStorage.setItem("gjs-css");

                console.log('clear canvas');
            }




            function importhtmlandcss()
            {

                editor.setComponents(components);
                editor.setStyle(css);
            }

            /**
             *  save html and css data
             *  from websitebuilder to
             *  html file
             */
            function postwebsitebuilderdata(key) {
                var htmldata = localStorage.getItem("gjs-html");
                var cssdata = localStorage.getItem("gjs-css");

                $.ajax({
                    type : "POST",
                    url : "savehtmlcsstofile",
                    data : {
                        gjshtml : localStorage.getItem("gjs-html"),
                        gjscss : localStorage.getItem("gjs-css")
                    },
                    success : function(result) {
                        // alert('changed');
                        console.log('sucess');
                        $( "#messageinfo" ).html( "<strong>" + result + "</strong>" );
                    }
                });

            }


        </script>

       

        <script th:inline="javascript">

            var editor = grapesjs.init
            ({
                height: '100%',
                fromElement: 1,
                clearOnRender: true,
                container: '#gjs',
                allowScripts: 1,
                canvas: {
                    styles: [
                        '/bootstrap4/css/bootstrap.css',
                        '/bootstrap4/css/bootstrap-theme.min.css'
                    ],
                    scripts: [
                        '/jquery/jquery-3.5.1.min.js',
                        '/bootstrap.min.js',
                        '/grapesjs/bootstrap.bundle.min.js',
                        '/grapesjs/grapesjs-html-block.js'
                    ],
                }

            });

            editor.BlockManager.add('Container',
                {
                    category: 'Bootstrap',
                    label: '<h1><i class="fa fa-bars"></i></h1> Container',
                    content: '<!-- Container element -->' +
                        '<div class="container-fluid">' + '<div class="row">\n' +
                        '\t\t<div class="col-sm-12">row \n' +
                        '\t\t</div>\n' +
                        '\t</div>' +
                        '</div>' +
                        ''
                }
              
            );

            editor.BlockManager.add('row-6-6',
                {
                    category: 'Bootstrap',
                    label: '<h1><i class="fa fa-bars"></i></h1> 6-6',
                    content: '<!-- row  6-6 -->' +
                        '<div class="row">\n' +
                        '\t\t\t\t<div class="col-sm-6">row \n' +
                        '\t\t\t\t</div>\n' +
                        '\t\t\t\t<div class="col-sm-6">row \n' +
                        '\t\t\t\t</div>\n' +
                        '\t</div>' +
                        '',
                });

            editor.BlockManager.add('row-4-4-4',
                {
                    category: 'Bootstrap',
                    label: '<h1><i class="fa fa-bars"></i></h1> 4-4-4',
                    content: '<!-- row 4-4-4 -->' +
                        '<div class="row">\n' +
                        '\t\t\t\t<div class="col-sm-4">row \n' +
                        '\t\t\t\t</div>\n' +
                        '\t\t\t\t<div class="col-sm-4">row \n' +
                        '\t\t\t\t</div>\n' +
                        '\t\t\t\t<div class="col-sm-4">row \n' +
                        '\t\t\t\t</div>\n' +
                        '\t</div>' +
                        '',
                });

            editor.BlockManager.add('row-1-12',
                {
                    category: 'Bootstrap',
                    label: '<h1><i class="fa fa-bars"></i></h1> 1 - 12',
                    content: '<!-- row 12 -->' +
                        '<div class="row">\n' +
                        '\t\t<div class="col-sm-12">row \n' +
                        '\t\t</div>\n' +
                        '\t</div>' +
                        '',
                });

            editor.BlockManager.add('row-3-9',
                {
                    category: 'Bootstrap',
                    label: '<h1><i class="fa fa-bars"></i></h1> 3 - 9',
                    content: '<!-- row 3 / 9 -->' +
                        '<div class="row">\n' +
                        '\t\t<div class="col-sm-3">row \n' +
                        '\t\t</div>\n' +
                        '\t\t<div class="col-sm-9">row \n' +
                        '\t\t</div>\n' +
                        '\t</div>' +
                        '',
                });

            editor.BlockManager.add('NavBar_Header',
                {
                    category: 'Bootstrap',
                    label: '<h1><i class="fa fa-bars"></i></h1> MenuNavigation',
                    content: '<!-- Navigation -->' +
                        '' +
                        '<nav id="navigationbootstrap" class="navbar navbar-expand-lg navbar-dark bg-dark">' +
                        '<div class="container">' +
                        '<a class="navbar-brand" href="#" th:text="${webtextcomp[0].de}"></a> <!-- Company Name -->' +
                        '<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">' +
                        '<span class="navbar-toggler-icon"></span>' +
                        '</button>' +
                        '<div class="collapse navbar-collapse" id="navbarResponsive">' +
                        '<ul class="navbar-nav ml-auto">' +
                        '<li class="nav-item active">' +
                        '<a class="nav-link" href="#" th:text="${webtextcomp[1].de}">  <!-- Home -->' +
                        '<span class="sr-only">(current)</span>' +
                        '</a>' +
                        '</li>' +
                        '<li class="nav-item">' +
                        '<a class="nav-link" href="/about" th:text="${webtextcomp[2].de}"></a>  <!-- about -->' +
                        '</li>' +
                        '<li class="nav-item">' +
                        '<a class="nav-link" href="/service" th:text="${webtextcomp[3].de}"></a>  <!-- Service -->' +
                        '</li>' +
                        '<li class="nav-item">' +
                        '<a class="nav-link" href="/contact" th:text="${webtextcomp[4].de}"></a>  <!-- Contact -->' +
                        '</li>' +
                        '<li class="nav-item">'+
                        '<a class="nav-link" href="/login" th:text="${webtextcomp[5].de}"></a>  <!-- Login -->' +
                        '</li>' +
                        '</ul>' +
                        '</div>' +
                        '</div>' +
                        '</nav>' +
                        '',
                });

            editor.BlockManager.add('searchitems',
                {
                    category: 'Bootstrap',
                    label: '<h1><i class="fa fa-bars"></i></h1> textfield search',
                    content: '<div class="row"></div><div class="row">' +
                        '<div class="col-sm-12">' +
                        '<form action="/searchProduct" method="POST"><div class="input-group mb-3">' +
                        '<input name="searchproduct" type="text" class="form-control" placeholder="search your item" aria-describedby="basic-addon2">' +
                        '<div class="input-group-append">' +
                        '<span class="input-group-text" id="basic-addon2">search</span>' +
                        '</div>' +
                        '</div></form>' +
                        '</div>',
                });

            editor.BlockManager.add('Footer1',
                {
                    category: 'Bootstrap',
                    label: '<h1><i class="fa fa-bars"></i></h1> SmallFooter',
                    content: '<!-- sticky footer -->\n' +
                        '<footer class="footer mt-auto py-3 bg-light">\n' +
                        '  <div class="container">\n' +
                        '    <span class="text-muted">Place sticky footer content here.</span>\n' +
                        '  </div>\n' +
                        '</footer>',
                });

            editor.BlockManager.add('Container-fluid',
                {
                    category: 'Bootstrap',
                    label: '<h1><i class="fa fa-th fa-lg"></i></h1>Container-Fluid ',
                    content: '<div class="container-fluid">' +
                        '<div class="row">' +
                        '<div class="col-sm-6"><p>row1</p></div>' +
                        '<div class="col-sm-6"><p>row2</p></div>' +
                        '<div class="col-sm-6"><p>row1</p></div>' +
                        '<div class="col-sm-6"><p>row2</p></div>' +
                        '<div class="col-sm-6"><p>row1</p></div>' +
                        '<div class="col-sm-6"><p>row2</p></div>' +
                        '<div class="col-sm-6"><p>row1</p></div>' +
                        '<div class="col-sm-6"><p>row2</p></div>' +
                        '</div>' +
                        '</div>'
                });
            
                editor.BlockManager.add('Hero-Unit',
                {
                    category: 'Bootstrap',
                    label: '<h1><i class="fa fa-th fa-lg"></i></h1>HeroUnit ',
                    content: '<div class="hero-unit">' +
                        '<h1>Heading</h1>' +
                        '<p>Tagline</p>' +
                        '<p>' +
                        '   <a class="btn btn-primary btn-large">' +
                        'Learn more' +
                        ' </a>' +
                        '</p>' +
                        '</div>'
                });
                
                editor.BlockManager.add('Tab',
                {
                    category: 'Bootstrap',
                    label: '<h1><i class="fa fa-th fa-lg"></i></h1>Tab ',
                    content: '<div>' +
                        '<ul class="nav nav-tabs">' +
                        '<li role="presentation" class="active"><a href="#">Home</a></li>' +
                        '<li role="presentation"><a href="#">Profile</a></li>' +
                        '<li role="presentation"><a href="#">Messages</a></li>' +
                        '</ul>' +
                        '</div>'
                });
                
                
                editor.BlockManager.add('Jumbotron',
                {
                    category: 'Bootstrap',
                    label: '<h1><i class="fa fa-th fa-lg"></i></h1>Jumbotron ',
                    content: '<div class="jumbotron">' +
                        '<h1>Hello, demogitjava!</h1>' +
                        '<p>Your text here</p>' +
                        ' <p><a class="btn btn-primary btn-lg" href="#" role="button">Simple Button</a></p>' +
                        '</div>'
                });
               
               
                editor.BlockManager.add('Page Header',
                {
                    category: 'Bootstrap',
                    label: '<h1><i class="fa fa-th fa-lg"></i></h1>Page Header ',
                    content: '<div class="page-header">' +
                        ' <h1>Demogitjava Page Header<small>Subtext for header</small></h1>' +
                        '</div>'
                });
                
             
            editor.getConfig().showDevices = false;
            window.editor = editor;
            window.editor.clearCached();
        </script>



    </div>

</div>



</body>
</html>