<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:lang="${lang}">

<head>

    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Service</title>

    <!-- Bootstrap core CSS -->

    <link th:href="@{/bootstrap4/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/bootstrap4/css/bootstrap-theme.min.css}" rel="stylesheet" />
    <script th:src="@{/bootstrap.min.js}"></script>

    <!-- Custom styles for this template -->
    <link th:href="@{css/small-business.css}" rel="stylesheet" />
    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/jquery/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.js}"></script>



</head>

<body>

<div class="container-fluid">

        <div class="services-top">
            <div>
                <div class="row text-center">
                    <div class="col-sm-12 col-md-12 col-md-12">
                        <h2>What We Offer</h2>
                        <h2>Our Services</h2>

                    </div>

                </div>
                <div class="row">
                    <div class="col-md-offset-1 col-sm-12 col-md-12 col-md-10">
                        <div class="services-list">
                            <div class="row">

                                <div class="col-sm-6 col-md-4 col-md-4">
                                    <div class="card">

                                        <div class="card-body">
                                            <div class="card-header">Web Design</div>
                                            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-4 col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header">Development/Coding</div>
                                            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-4 col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header">Copy Writing</div>
                                            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-4 col-md-4">
                                    <div class="card">

                                        <div class="card-body">
                                            <div class="card-header">Web Design</div>
                                            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-4 col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header">Development/Coding</div>
                                            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-4 col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header">Copy Writing</div>
                                            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div>
                                        </div>
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>
</body>
</html>